
		<div id="fh5co-header">
			<header id="fh5co-header-section">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
						<h1 id="fh5co-logo"><%= link_to Refinery::Core.site_name, refinery.root_path %>
</h1>
						<!-- START #fh5co-menu-wrap -->
						<nav id="fh5co-menu-wrap" role="navigation">
							<%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
							<%= navigation_menu.to_html %>
						</nav>
					</div>
				</div>
			</header>
			
		</div>
				<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
		

		</div>